@{
    ViewBag.Title = "About";
}

<body>
    <div class="flex-container">
        <div>Article 1:<figure><a href="https://studylink.org/vn/du-hoc-tai-cho-dai-hoc-greenwich-viet-nam.html"><img src="~/Content/img/article 1.jpg" class="rounded" alt="article 1"><figcaption> Study abroad chance</figcaption></a></figure></div>
        <div>Article 2:<figure><a href="https://chungta.vn/photo/anh/ngam-co-so-moi-cuc-chat-cua-dai-hoc-greenwich-viet-nam-tai-sai-gon-1132234.html"><img src="~/Content/img/article 2.jpg" class="rounded" alt="article 2"><figcaption> New facilities</figcaption></a></figure></div>
        <div>Article 3:<figure><a href="https://kenh14.vn/ban-co-phu-hop-de-tro-thanh-sinh-vien-truong-quoc-te-20210429131250705.chn"><img src="~/Content/img/article 3.jpg" class="rounded" alt="article 3"><figcaption> Chance to be international student</figcaption></a></figure></div>
    </div>
</body>
